@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Witamy w najlepszej wypożyczalni w Polsce!</h1>
</div>
<div class="text-center">
    <img src="~/grafika/glownafota.jpeg" alt="Image" class="">
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-sm">
            <img src="~/grafika/why1.jpeg" alt="Image" class="">
            <h3>Prosty system rezerwacji</h3>
            <p>Wybierasz łódź, podajesz podstawowe informacje i gotowe!</p>

        </div>
        <div class="col-sm">
            <img src="~/grafika/why2.jpg" alt="Image" class="">
            <h3>Obsługa 24h</h3>
            <p>Nasz zespół obsługi Klienta jest dostępny dla Ciebie 24h/7 dni w tygodniu</p>
        </div>
        <div class="col-sm">
            <img src="~/grafika/why3.jpg" alt="Image" class="">
            <h3>Najlepsza flota</h3>
            <p>Dysponujemy najlepszymi jachtami w całej Polsce, sprawdź naszą ofertę!</p>
        </div>
    </div>
</div>
