@page
@model wwsi.ti.rudnik.jachty.Pages.ORudnikModel
@{
}
<div class="text-center">
    <h1 class="display-4">O nas</h1>
</div>
<div class="text-center">
    <h2>Jesteśmy profesjonalną firmą wynajmującą jachty</h2>
</div>
<div class="h4">Poniżej zaprezentowano tabelę zniżek dla wynajmu powyżej 7 dni</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Lp</th>
            <th scope="col">Okres</th>
            <th scope="col">Sezon</th>
            <th scope="col">Rabat</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-secondary">
            <th scope="row">1</th>
            <td>Styczeń-marzec</td>
            <td>Niski</td>
            <td class="h3 font-weight-bold">25%</td>
        </tr>
        <tr class="table-primary">
            <th scope="row">2</th>
            <td>Kwiecień-czerwiec</td>
            <td>Średni</td>
            <td class="h3 font-weight-bold">15%</td>
        </tr>
        <tr class="table-success">
            <th scope="row">3</th>
            <td>Czerwiec-Sierpień</td>
            <td>Wysoki</td>
            <td class="h3 font-weight-bold">5%</td>
        </tr>
        <tr class="table-primary">
            <th scope="row">3</th>
            <td>Wrzesień-Październik</td>
            <td>Średni</td>
            <td class="h3 font-weight-bold">15%</td>
        </tr>
        <tr class="table-secondary">
            <th scope="row">3</th>
            <td>Listopad-Grudzień</td>
            <td>Niski</td>
            <td class="h3 font-weight-bold">25%</td>
        </tr>
    </tbody>
</table>